<select name="{{ field_type.getInputName() }}" class="form-control select2">

    {% for iso, language in field_type.options %}

        <option value="{{ iso }}" {{ iso == field_type.value ? 'selected' }}>{{ language }}</option>

    {% endfor %}

</select>
