<select name="{{ field_type.getInputName() }}" class="form-control select2">

    {% for option in field_type.options %}

        <option value="{{ option.iso }}" {{ option.selected ? 'selected' }}>{{ option.language }}</option>

    {% endfor %}

</select>
